.simple-form-validation{
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    display: block;
}
label{
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
}
button{
    font-size: 18px;
    border: 1px solid #000;
    padding: 10px 50px;
}